<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Продукты</title>
    <style>
        .my-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    </style>
</head>
<body>


<div class="container">

    <h3><a th:href="@{/category}"><span>Категории</span></a></h3>
    <h3><a th:href="@{/product/form}"><span>Добавить продукт</span></a></h3>


    <h3>Фильтры</h3>
    <form action="#" th:action="@{/product}" method="get">
        <div class="form-group">

            <select name="category" title="Категория">
                <option value="">Все</option>
                <option th:each="i : ${categories}" th:value="${i.getTitle()}" th:text="${i.getTitle()}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <p>Минимальная цена: <input type="text" name="minCost"/></p>
        </div>
        <p>Максимальная цена: <input type="text" name="maxCost"/></p>
        <p>Название: <input type="text" name="title"/></p>

        <p><input type="submit" value="Отфильтровать"/></p>
    </form>

    <h3><a th:href="@{/product}"><span>Сбросить фильтры</span></a></h3>

    <br>
    <div class="my-container">
        <div style="padding-right: 5px" th:if="${page.totalPages > 1}" class="pagination" th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/product(pageNum=${pageNumber - 1})}"
               th:text="${pageNumber}"
               th:class="${pageNumber==page.number} ? active"></a>
        </div>
    </div>

    <h3>Все продукты</h3>
    <div class="my-container">
        <div class="card" style="width: 18rem;" th:each="p : ${page.getContent()}">
            <img class="card-img-top" th:src="@{${p.imageLink}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title" th:text="${p.title}">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted" th:text="${p.categoryName}">Card subtitle</h6>
                <h6 class="card-subtitle mb-2 text-muted" th:text="|Стоимость ${p.cost}|">Card subtitle</h6>

                <a th:href="@{product/form(id=${p.id})}" href="#" class="btn btn-primary"><span>Изменить</span></a>
                <a th:href="@{product/delete(id=${p.id})}" href="#" class="btn btn-primary"><span>Удалить</span></a>
            </div>
        </div>
    </div>


</div>
</body>

</html>
